.hotel-container {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}


.hotel-title {
    margin: 30px 130px;
    text-align: left;
}

.hotel-description {
    margin: 10px 130px;
    text-align: left;
    font-weight: 2rem;
}

.hotel-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 130px; 
    border-radius: 8px;
   
   
}
.main-image {
    width:100%;
    height: 420px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.25); 
}

.additional-images {
    display: flex;
    flex-direction: column;
   
}
.child-images {
    width:396px;
    height: 207px;
    border-radius: 8px;
    object-fit: cover;  
    box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.25); 
    margin-bottom:5px;
}


.content-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:0 130px;
    margin-top: 20px;
}

.box {
    flex: 1;
    padding:20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border:2px solid #ddd;
    text-align:left;
    height:auto; 
}


.booking-form-container {
    flex: 1;
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #555;
}

.input-field {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.book-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.book-button:hover {
    background-color: #0056b3;
}